{% extends "layout.html" %}
{% block content %}
{% if snowData %}
    <h1>{{snowData.lastSnowReport}} was last reported on the {{snowData.snowDate}} at {{snowData.snowTime}}.</h1>
{% else %}
    No data!
{% endif %}

<p>
    You have 24 hours after this time to clear the snow and ice from your sidewalks or you may face a fine and jail time.
</p>

<p>
    You can find more information about your duty as a citizen at <a href="https://bouldercolorado.gov/pages/sidewalk-snow-removal"> the City of Boulder website.</a>  
</p>
{% endblock %}